@import '../../variables';
#client-table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    //tbody tr td:not(.control-option) {
    //    cursor: pointer;
    //}
    tbody tr td.control-column {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .cupo {
        cursor: pointer;
    }
}

#loan-modal {
    .payments {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 3px;
        margin-top: 10px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
    .payment {
        width: 65px;
        border-radius: 3px;
        border: 1px solid #000;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
        .btn {
            padding: 0;
            display: flex;
            align-items: center;
            border-radius: 0;
            font-weight: bold;
            height: 27px;
            border: none;
            width: 100%;
            justify-content: center;
        }
        span {
            padding: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: 27px;
            color: #000;
            font-size: 14px;
            text-align: center;
            background-color: #fff;
            justify-content: center;
        }
    }
    .modal-body {
        padding: 15px 25px;
    }
    .info-row {
        font-size: 16px;
        padding: 5px 0;
    }
}

#loan-payment-location-modal {
    .map {
        width: 100%;
        height: 300px;
    }
}

.client-photo {
    width: 250px;
    margin: 0 auto 20px auto;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.client-photo-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.ok {
    background-color: rgba(0, 149, 255, 0.27);
}

.warning {
    background-color: rgba(255, 125, 0, 0.38);
}

.danger {
    background-color: rgba(251, 61, 51, 0.38);
}

.table-hover>tbody>tr {
    cursor: pointer;
}

.table-hover>tbody>tr.ok:hover {
    background-color: rgba(0, 149, 255, 0.6);
}

.table-hover>tbody>tr.warning:hover {
    background-color: rgba(255, 125, 0, 0.6);
}

.table-hover>tbody>tr.danger:hover {
    background-color: rgba(251, 61, 51, 0.6);
}

@media (min-width: 768px) {
    #loan-modal {
        .modal-dialog {
            width: 450px;
        }
    }
    #loan-payment-location-modal {
        .modal-dialog {
            height: 400px;
            width: 320px;
        }
    }
}

