@import '../../variables';

#map {
    width: 100%;
    height: 650px;
}

.control-cell {
    padding-top: 7px;
}

.js-switch {
    &:checked ~ .active-label {
        display: inline-block;
    }
    &:checked ~ .inactive-label {
        display: none;
    }
    &:not(:checked) ~ .active-label {
        display: none;
    }
    &:not(:checked) ~ .inactive-label {
        display: inline-block;
    }
}
