@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~admin-lte/dist/css/adminLTE.css';

.form-error-container {
    div {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.w-30 {
    width: 30px;
}

.w-120 {
    width: 120px;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-130 {
    min-width: 130px;
}

.min-w-150 {
    min-width: 150px;
}

.min-w-160 {
    min-width: 160px;
}

.min-w-200 {
    min-width: 200px;
}


//
//
//.notiny-theme-success {
//    background-color: $green;
//    color: #fff;
//}
