//styles for liquidation.blade.php
@import '../../variables';
#client-color-table {
    tbody tr td {
        vertical-align: middle !important;
    }
}

#min-inb {
    width: 100%;
    .slider-selection {
        background: #BABABA;
    }
}


.js-switch {
    &:checked~.active-label {
        display: inline-block;
    }
    &:checked~.inactive-label {
        display: none;
    }
    &:not(:checked)~.active-label {
        display: none;
    }
    &:not(:checked)~.inactive-label {
        display: inline-block;
    }
}

.section-container {
    margin-bottom: 5px;
   
}

.liquidation-wrapper{
    border:solid rgb(189, 182, 182) 1px;
    border-radius:12px;
}

.liquidation-container {
    display: flex;
   
    .btn {
        border: solid #007BFF 1px;
        font-weight: 600;
    }
    .btn:hover {
        background-color: white;
        border: solid #007BFF 1px;
        color: #007BFF;
        font-weight: 600;
    }
    .btn-delete {
        border: solid #DC3545 1px;
        font-weight: 600;
    }
    .btn-delete:hover {
        background-color: white;
        border: solid #DC3545 1px;
        color: #DC3545;
        font-weight: 600;
    }
    .btn-success {
        border: solid #28A745 1px;
        font-weight: 600;
    }
    .btn-success:hover {
        background-color: white;
        border: solid #28A745 1px;
        color: #28A745;
        font-weight: 600;
    }
}

.col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 37.7%;
}